<!-- Footer -->
<footer class="footer">
   <div class="container">
      <ul class="footerNav">
         <li><a href="//www.sococo.com/contact">contact us</a></li>
         <li><a href="//www.sococo.com/about">about us</a></li>
         <li><a href="//www.sococo.com/console">account</a></li>
         <li><a href="//www.sococo.com/download">download</a></li>
         <li><a href="//www.sococo.com/support">support</a></li>

      </ul>
      <ul class="footerSocial">
         <li>
            <a href="https://twitter.com/sococo">
               <i class="sococo-icon-twitter"></i>
            </a>
         </li>
         <li>
            <a href="https://www.facebook.com/sococo">
               <i class="sococo-icon-facebook"></i>
            </a>
         </li>
         <li>
            <a href="http://www.youtube.com/user/SococoTV">
               <i class="sococo-icon-youtube"></i>
            </a>
         </li> 
         <li>
            <a href="https://www.linkedin.com/company/sococo">
               <i class="sococo-icon-linkedin"></i>
            </a>
         </li>                            
      </ul>     
   </div>
</footer>
<div class="copyright">
   <h4>Copyright 2014 Social Communications Company</h4>
</div>
