<section id="footer">
   <header class="expanded">
      <img class="avatar" src="/images/avatar-red-talking.png">
   </header>
   <footer class="bottom">
      <div class="container">
         <div class="pull-left">
            <span class="copyright hidden-phone">© <%- new Date().getFullYear() %> Social Communications Company</span>
            <span class="copyright visible-phone">© <%- new Date().getFullYear() %> Sococo</span>
         </div>

         <div class="pull-right">
            <a href="//www.sococo.com/privacy.php">Privacy Policy</a>
            <span class="dot">·</span>
            <a href="//www.sococo.com/terms.php">Terms of Service</a>
         </div>
      </div>
   </footer>
</section>
