@footerHeight:40px;
@footerExpanded: 140px;
@footerBackgroundColor:#3a464e;
@footerTextColor:#929497;
@footerPaddingTotal: @footerExpanded + @footerHeight;
body {

   .body-container {
      min-height: 100% !important;
      position: relative;
      padding-bottom:@footerPaddingTotal;

   }
   main {
      .content-push {
         height:@footerPaddingTotal;
      }
   }

   #footer {
      font-size: @font-size-small;
      position:relative;
      width:100%;
      line-height: @footerHeight;
      color:@footerTextColor;
      overflow: hidden;
      margin-top: -(@footerExpanded + @footerHeight);
      .avatar {
         position: absolute;
         right:40px;
         bottom:-45px;
         z-index: 1;
         // Simple pop-up transition on hover
         .transition(all 0.1s ease-in-out);
         &:hover {
            bottom:-10px;
         }
      }

      .bottom, .expanded {
         width:100%;
      }
      .bottom {
         background:@footerBackgroundColor;
         position: absolute;
         left:0;
         right:0;
         bottom:0;
         height:@footerHeight;
         z-index: 2;
         a {
            color:@sococoBlue;
            &:hover {
               text-decoration: none;
            }
         }
         .dot {
            padding-left: 5px;
            padding-right: 5px;
         }

         .container {
            .pull-left {
               margin-right:5px;
            }
         }
      }

      .expanded {
         height:@footerExpanded + @footerHeight;
         background-color: @blueFooter;
         a {
            font-size: 15px;
            color:#fff;
         }
      }
   }
}
