@sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@sococo-dark-gray2: #303030;
@sococo-light-gray: #E6E6E6;

@footerHeight:40px;
@footerExpanded: 140px;
@footerBackgroundColor:#3a464e;
@footerTextColor:#929497;
.footer{
   background-color: @sococo-dark-gray2;
   height: 110px;
   .footerNav{
      margin-top: 45px;
      margin-left: -40px;
      float: left;
      li{
         display: inline;
         margin-right: 20px;
         a{
            // font-family: @sansFontFamilyMedium;
            font-size: 16px;
            text-transform: uppercase;
            color: #ffffff;
            &:hover{
               text-decoration: underline;
               color: @sococo-light-gray;
            }
         }
      }
     @media (max-width:979px){
      margin-top:15px;
     }   
   }
   .footerSocial{
      margin-top: 40px;
      margin-right: 20px;
      float: right;
      li{
         display: inline;
         margin-right: 20px;
         font-size: 33px;
       color: #FFF;
      }
      a{
         color: #FFF;
      }
   }
}
.copyright{ 
   margin-top: 50px;
   height: 60px;
   h4{
      text-align: center;
   }
}
@media (max-width: 980px){
   .footer{
      min-height: 110px;
      ul.footerNav{
         float: none;
         margin-top: 0px;
         margin-left: 0px;
         padding-top: 15px;
         display: block;
         text-align: center;
         li{
            display: inline-block;
         }
      }
      ul.footerSocial{
         float: none;
         margin-top: 0px;
         margin-right: 0px;
         display: block;
         text-align: center;
         li{
            margin: 5px 25px 0 0;
            display: inline-block;
            text-align: center;
         }
      }
   }
   .copyright{
      margin-top: 0px;
      padding-top: 5px;
   }  
}
@media (max-width: 480px){
   .footer{
      height: 120px !important;
      ul.footerSocial{

            margin-left: 0px;
            li{
               font-size: 23px;
               margin: 5px 5px 0 0 !important;
            }
           
      }
     
   }
 
}