<!-- Blog Header -->
<section id="header">
   <header class="container">
      <h1>
         <a href="<%- url %>">
            <img src="/images/sococo-logo.png" class="logo hidden-xs">
            <img src="/images/sococo-logo-mobile.png" class="logo visible-xs">
         </a>
      </h1>
   </header>
   <footer class="container"><p><%- description %></p></footer>
</section>
