<div class="navbar navbar-sococo">
   <div class="navbar-inner">
      <div class="container">
         <a class="brand" href="/home">
            <img src="//s.sococo.com/images/logos/logo_small.svg">
         </a>
      </div>
   </div>
</div>
